{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="container-fluid bg-light px-0" id="header">

    {{ include('menu.html.twig') }}

    <div class="container-md px-0 py-5">

        {{ form_start(registrationForm) }}

        <div class="row justify-content-center">

            <div class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-4 border text-center bg-light py-3 px-sm-5">
            
                <h1 class="mb-5">Enregistrement</h1>
            
                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                {% for flashSuccess in app.flashes('success') %}
                    <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
                {% endfor %}

                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
                
                <button type="submit" class="btn btn-primary">Créer un compte</button>
                
            </div>
        
        </div>

        {{ form_end(registrationForm) }}
        
    </div>
    
</div>

{% endblock %}
