{% extends 'base.html.twig' %}

{% block title %}Snowtrick - Homepage{% endblock %}

{% block body %}

<header class="container-fluid d-flex flex-column justify-content-between bg-light vh-100 px-0" id="header" style="background-image:url({{ asset('images/bg-header.png') }})">

    {{ include('menu.html.twig') }}

    <div class="bg-light bg-opacity text-center">
        <h1>Phrase d'accroche</h1>
    </div>
    
    <div class="align-self-end mb-5">
        <a href="#tricks">
            <img src="{{ asset('images/theme/b-down.svg') }}" class="imgMenu m-5" alt="" />
        </a>
    </div>
    
</header>

<div id="tricks" class="container-fluid p-0 text-center pb-2">
    <div class="row row-cols-1 row-cols-lg-4 row-cols-xl-5 m-2">
        
        {%  set trickCounter = 0 %}
        {% for trick in tricks %}
        {% set trickCounter = trickCounter + 1%}
        {% if trickCounter == 16 %}
    </div>
    <div class="collapse" id="collapseMoreTricks">
    <div class="row row-cols-1 row-cols-lg-4 row-cols-xl-5 m-2">
        {% endif %}
        <div class="col">
            <div class="border mb-4">
                {% if trick.featuredMedia is defined %}
                <img src="{{ trick.featuredMedia.link }}" class="medias__img" alt="">
                {% else %}
                <img src="{{ asset('images/no-image.png') }}" class="medias__img" alt="">
                {% endif %}
                <div class="d-flex justify-content-end">
                    <a class="flex-grow-1 align-self-center ml-2 text-break" href="{{ path('trick_show', {'id': trick.id}) }}">
                        {{ trick.name }}
                    </a>
                    {% if trick.user.id == app.user.id %}
                    <a href="{{ path('trick_edit', {'id': trick.id}) }}">
                        <img src="{{ asset('images/theme/b-edit.svg') }}" class="d-inline-block imgMenu m-2" alt="" />
                    </a>
                    <a href="#">
                        <img src="{{ asset('images/theme/b-delete.svg') }}" class="d-inline-block imgMenu m-2" alt="" />
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}
            Patrick
        {% endfor %}
        
    </div>
    {% if trickCounter > 15 %}
    </div>
    {% endif %}
    {% if trickCounter > 15 %}
    <a href="#collapseMoreTricks" class="btn btn-primary btn-lg active" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseMoreTricks">Charger plus</a>
    {% endif %}
    
</div>

<div class="container-fluid text-right">
    <a href="#header">
        <img src="images/theme/b-up.svg" class="d-inline-block imgMenu m-2" alt="" />
    </a>
    
</div>
{% endblock %}
