<div class="container-fluid" id="discussion-area">

    {% if app.user %}
    {{ form_start(form) }}
    <div class="row justify-content-md-center">
        <div class="col-12 col-lg-8 mt-3 pt-1 border-top"></div>

        <div class="col-12 col-lg-5 form-group m-0 mt-2">
            {{ form_label(form.message, null, {'label_attr': {'class': 'sr-only'}}) }}
            {{ form_errors(form.message) }}
            {{ form_widget(form.message) }}
        </div>
        <div class="col-12 col-lg-3 mt-2">
            {{ form_widget(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}
    {% endif %}

    <div class="row justify-content-md-center text-left">
        <div class="col col-lg-8 mt-3 pt-3 border-top fake-loader" id="discussions" data-fakeloader-number="10">
            {% for discussion in discussions %}
            <div class="discussion-message">
            <div class="d-flex">
                <img src="{{ discussion.user.pictureLink ? upload_asset ~ discussion.user.pictureLink : asset('images/no-image.png') }}" class="mr-3 imgDiscussion" alt="" />
                <p class="border flex-grow-1 p-2">
                    <span class="text-muted">
                        {{ discussion.user.username }} - {{ discussion.createdDate|date('Y-m-d H:i:s') }}
                        {% if is_granted('owner', discussion.user) %}
                        <a href="#" onclick="deleteMessage('{{ path('discussion_delete', {'id': discussion.id}) }}');return false;"><img src="{{ asset('images/theme/b-delete.svg') }}" class="d-inline-block imgMenu m-2" alt="" /></a>
                        {% endif %}
                    </span>
                    <br />{{ discussion.message }}
                </p>
            </div>
            </div>
            {% else %}
                Il n'y a pas de discussion
            {% endfor %}
        </div>
    </div>
    
</div>
