{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.content) }}
    {{ form_row(form.newcategory) }}
    {{ form_row(form.category) }}
    {{ form_label(form.medias) }}
    <ul class="medias" data-prototype="{{ form_widget(form.medias.vars.prototype)|e('html_attr') }}"></ul>
    <button type="button" class="add_item_link btn btn-info" data-collection-holder-class="medias">{{ 'trick.button.addimage'|trans }}</button>
    {{ form_widget(form.medias) }}
    {{ form_label(form.videolinks) }}
    <ul class="videolinks" data-prototype="{{ form_widget(form.videolinks.vars.prototype)|e('html_attr') }}"></ul>
    <button type="button" class="add_item_link btn btn-info" data-collection-holder-class="videolinks">{{ 'trick.button.addlink'|trans }}</button>
    {{ form_widget(form.videolinks) }}
    <br />
    {{ form_row(form.save) }}
{{ form_end(form) }}
