{% extends 'simplebase.html.twig' %}

{% block title %}{{ 'trick.title.edit'|trans }}{% endblock %}

{% block simplebase %}

<div  id="content" class="border border-bottom-0 text-center pb-5">
				
<div class="trick__header d-flex flex-column justify-content-between bg-secondary py-2" style="background-image: url({{ asset(trick.featuredMedia ? upload_asset ~ trick.featuredMedia.link : 'images/no-image.png') }});">
        
    <div class="align-self-end bg-light mr-2">
            
        <a href="{{ path('trick_show', {'slug': trick.name}) }}"><img src="{{ asset('images/theme/b-return.svg') }}" class="d-inline-block imgMenu m-2" alt="" /></a>
        
        <a href="{{ path('trick_remove_featuredmedia', {'id': trick.id}) }}"><img src="{{ asset('images/theme/b-remove-featuredmedia.svg') }}" class="d-inline-block imgMenu m-2" alt="" /></a>
        
        <a href="#" onclick="deleteMessage('{{ path('trick_delete', {'id': trick.id}) }}');return false;"><img src="{{ asset('images/theme/b-delete.svg') }}" class="d-inline-block imgMenu m-2" alt="" /></a>
        
    </div>
    
    <h1 class="bg-light bg-opacity text-break">{{ trick.name }}</h1>
    
    <div class="my-2 imgMenu"></div>
</div>

{{ include('trick/_medias.html.twig') }}

<div class="card text-center mx-2">
    {{ include('trick/_form.html.twig') }}
    <a class="btn btn-danger" href="#" role="button" onclick="deleteMessage('{{ path('trick_delete', {'id': trick.id}) }}');return false;">Supprimer</a>
</div>

</div>
{% endblock %}
